@import './beautify-form.css';
html {
    width: 100%;
    height: 100%;
    font-size: 100px;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    font: normal normal normal 16px/1.15 'Microsoft YaHei', 'sans-serif';
    font-size: 16px;
    color: #23c7ed;
    overflow: hidden;
    position: relative;
    scrollbar-arrow-color: #f4ae21;
    /*三角箭头的颜色*/
    scrollbar-face-color: #333;
    /*立体滚动条的颜色*/
    scrollbar-3dlight-color: #666;
    /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #666;
    /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #999;
    /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-colo: r #666;
    /*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #666;
    /*立体滚动条背景颜色*/
    scrollbar-base-color: #f8f8f8;
    /*滚动条的基本颜色*/
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.custom-container {
    width: 100%;
    height: 100%;
}

.custom-title {
    height: 50px;
    line-height: 50px;
    padding: 0 24px
}

.custom-form-wrapper {
    padding-top: 10px;
}

.custom-echarts-wrapper {
    width: 100%;
    height: calc(100% - 58px);
    margin-top: -15px;
}

.custom-echarts-top {
    width: 100%;
    height: 50%;
    font-size: 0;
    border-bottom: 1px solid #ccc;
}

.custom-echarts-top-left {
    display: inline-block;
    width: 50%;
    height: 100%;
    border-right: 1px solid #ccc;
}

.custom-echarts-top-right {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.custom-echarts-bottom {
    width: 100%;
    height: 50%;
    font-size: 0;
}

.custom-echarts-bottom-left {
    display: inline-block;
    width: 50%;
    height: 100%;
    border-right: 1px solid #ccc;
}

.custom-echarts-bottom-right {
    display: inline-block;
    width: 50%;
    height: 100%;
}